* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

button,
input {
  border: none;
  outline: none;
  background: none;
}

.btn-blue {
  color: white;
  font-weight: bold;
  background: #2564cf;
  background: var(--bg-brand);

  &:hover {
    box-shadow: none;
    background: #215aba;
    background: var(--bg-brand-hover);
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: unset !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9px;
  border: 3px solid transparent;
  background-color: var(--bg-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background: #7d83939e;
}

/// THEME BASED SCSS
.theme-blue {
  .tasks-header__listTitle,
  svg {
    color: #3e69e4;
    color: var(--list-theme-blue-primary-10);
  }
}

.theme-red {
  .tasks-header__listTitle,
  svg {
    color: #d2534e;
    color: var(--list-theme-red-primary-10);
  }
}

.theme-green {
  .tasks-header__listTitle,
  svg {
    color: #408226;
    color: var(--list-theme-green-primary-10);
  }
}
