._365Apps {
  width: 32rem;
  height: 100vh;
  visibility: hidden;
  background-color: #ffffff;
  position: fixed;
  box-shadow: #00000038 0px 25.6px 57.6px 0px, #0000002e 0px 0;
  z-index: 1000000;
  top: 0;
  left: 0;

  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-animation-duration: 0.18s;
  animation-duration: 0.18s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: slideInFrames;
  animation-name: slideInFrames;

  &__header {
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    button {
      border: 0;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      cursor: pointer;
      background-color: unset;
      transition: background-color 0.167s linear;
      display: grid;
      place-items: center;

      &:hover {
        background-color: #f3f2f1;
      }

      &:focus {
        outline: 1px dotted;
        outline: 1px auto -webkit-focus-ring-color;
        outline-style: auto;
      }

      svg {
        height: 1.6rem;
        width: 1.6rem;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      text-decoration: none;

      span {
        color: #1e51a9;
        font-weight: 500;
        cursor: pointer;
        font-size: 1.4rem;
        margin-bottom: -1px;
        border-bottom: 1px solid transparent;
        transition: all 83ms linear;

        &:hover {
          border-bottom: 1px solid #1e51a9;
        }
      }

      img {
        height: 2rem;
        width: 2rem;
      }
    }
  }

  &__main {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-name: mainViewSlideInFrames;
    animation-name: mainViewSlideInFrames;
    -webkit-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);
    animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);
  }

  h2 {
    color: #252423;
    font-weight: 400;
    font-size: 2rem;
    display: inline-block;
    margin: 1.6rem 0 1.2rem 2.4rem;
  }

  &__table {
    margin-left: 2.4rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 13.6rem);
  }

  &__bottom {
    @extend ._365Apps__header;
    padding: 1.2rem 0 0 3.6rem;
    height: 3rem;
    cursor: pointer;

    img {
      height: 1.7rem !important;
      width: 1.7rem !important;
    }
  }
}

._365Apps-clicked {
  visibility: visible;
}

@keyframes slideInFrames {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes mainViewSlideInFrames {
  0% {
    opacity: 0;
    margin-left: -30px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

.appContainer {
  height: 4.8rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  user-select: none;
  transition: border-color 83ms linear, box-shadow 83ms linear;

  &:hover {
    background-color: #f3f2f1;
    border-color: #f4f4f4;
    box-shadow: 0 8px 16px 0 #0000001a;
    transition: border-color 0.167s linear, box-shadow 0.167s linear;
  }

  img {
    height: 2.6rem;
    width: 2.6rem;
    margin: 0 8px 0 10px;
  }

  span {
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #252423;
  }
}

.allApps {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr 5.6rem;
  overflow: hidden;
  height: calc(100vh - 6.4rem);

  animation-duration: 0.25s;
  -webkit-animation-name: allViewSlideInFrames;
  animation-name: allViewSlideInFrames;
  -webkit-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);
  animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);

  &__back {
    display: flex;
    align-items: center;
    background: transparent;
    gap: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto 14px 18px;
    z-index: 1000;
    color: #1e51a9;
    width: 100%;

    &:focus {
      outline: auto;
    }

    img {
      transform: rotate(180deg);
      width: 1.8rem;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      color: #1e51a9;
      margin-bottom: -1px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 83ms linear;

      &:hover {
        border-bottom: 1px solid;
      }
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    border: 1px solid hsla(0, 0%, 100%, 0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    width: 27.6rem;
    height: 3.8rem;
    padding-left: 0;
    align-items: center;
    margin: 0 0 17px 16px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 8px 16px 0 var(--bg-shadow);
    }

    button {
      height: 3.6rem;
      width: 3rem;
      display: grid;
      place-items: center;
      cursor: pointer;
      svg {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    input {
      width: 100%;
      color: #252423;
      padding-right: 6px;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #252423;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #252423;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #252423;
      }
    }
  }

  &__main {
    margin-right: 6px;
    overflow-y: auto;

    h3 {
      font-weight: 500;
      font-size: 16px;
      margin: 0 0 10px 10px;
    }
  }

  &__items {
    margin: 10px 6px 15px 8px;
  }

  &__more {
    margin: 10px 6px 15px 8px;
  }

  &__bottom {
    padding: 0 0 0 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    gap: 2rem;
    background-color: #ffffff;
    // height: 5.6rem;

    img {
      height: 1.6rem;
      width: 1.5rem;
    }

    span {
      font-size: 12px;
      font-weight: 500;
      color: #1e51a9;
      border-bottom: 1px solid transparent;
      margin-bottom: -1px;
      transition: border-bottom 83ms linear;

      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
}

@keyframes allViewSlideInFrames {
  0% {
    visibility: hidden;
    opacity: 0;
    margin-left: 30px;
  }

  100% {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
  }
}
