#modal-wrapper {
  font-size: 1.4rem;
  font-weight: 400;
  position: fixed;
  z-index: 1000000;
  inset: 0px;
  visibility: hidden;

  &__content {
    color: #333333;
    visibility: visible;
  }

  &__container {
    position: relative;
  }
}
